[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
Wants=network-online.target
After=network-online.target

[Service]
User=etcd
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
ExecStart=/usr/bin/etcd
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
